@import "tailwindcss";

:root {
    --background: #ffffff;
    --foreground: #171717;
    --text-color: #ffffff;
    --default-color: #103654;
    --btn-white: #ffffff;
    --table-hover-bg: #f5f5f5;
    --placeholder-color: #9CA3AF;
    --btn-hover-bg: #ffffff;
    --table-sort-bg: #f5f5f5;
    --button-hover-text: #111827;
    font-family: 'Inter', sans-serif;
}


[data-theme="dark"] .ant-table-tbody>tr:hover>td {
    background: var(--table-hover-bg) !important;
}

[data-color="default"] {
    --default-color: #103654;
}

[data-color="blue"] {
    --default-color: #3b82f6;
}

[data-color="black"] {
    --default-color: #000000;
}

[data-color="teal"] {
    --default-color: #14b8a6;
}

[data-color="violet"] {
    --default-color: rgb(124, 58, 237);
}

[data-color="rose"] {
    --default-color: rgb(225, 29, 72);
}

[data-color="yellow"] {
    --default-color: rgb(202, 138, 4);
}

[data-theme="light"] {
    --background: #ffffff;
    --foreground: #0f172a;
    --text-color: #111827;
}

/* :where(.ant-btn):not(:disabled):not(.ant-btn-disabled):hover {
    background: inherit !important;
    color: #e6f4ff !important;
    border-color: inherit !important;
    box-shadow: none !important;
} */

/* Hover untuk tombol default */
/* .ant-btn-default:hover {
    background: #ffffff !important;
    color: #000000 !important;
    border-color: #d9d9d9 !important;
} */

/* Hover untuk tombol primary */
.ant-btn-primary:hover {
    background: #1677ff !important;
    /* warna hover biru primary */
    color: #fff !important;
    border-color: #1677ff !important;
}

/* Hover untuk tombol danger */
.ant-btn-dangerous:hover {
    background: #ff4d4f !important;
    /* warna hover merah danger */
    color: #fff !important;
    border-color: #ff4d4f !important;
}

.btn-action:hover {
    background: inherit !important;
    color: black !important;
    border-color: inherit !important;
}

.btn-delete-all {
    background: #EA00000D;
    color: #EA0000;
    box-shadow: none;
    border: none;
}

[data-theme="dark"] .btn-delete-all {
    background: rgba(234, 0, 0, 0.2);
    /* atau pakai #EA000033 */
    color: #FF6B6B;
}

.btn-trash-item {
    background: #7777771A !important;
}


[data-theme="dark"] {
    --background: #0f172a;
    --foreground: #f1f5f9;
    --text-color: #ffffff;
    --placeholder-color: #9CA3AF;
    --button-hover-bg: #1f2937;
    --table-sort-bg: #1f2937;
    --table-hover-bg: #1f2937;
}

[data-theme="dark"] .ant-layout,
[data-theme="dark"] .ant-layout-header,
[data-theme="dark"] .ant-layout-sider,
[data-theme="dark"] .ant-layout-content div,
[data-theme="dark"] .ant-layout-footer {
    background: var(--background) !important;
    color: var(--text-color) !important;
}


[data-theme="dark"] .ant-menu-light .ant-menu-item a,
[data-theme="dark"] .ant-menu-light .ant-menu-item span,
[data-theme="dark"] .ant-menu-light .ant-menu-submenu-title,
[data-theme="dark"] .ant-menu-light .ant-menu-item-group-title,
[data-theme="dark"] .ant-breadcrumb,
[data-theme="dark"] .ant-breadcrumb-link,
[data-theme="dark"] .ant-breadcrumb-link a,
[data-theme="dark"] .ant-breadcrumb-link span,
[data-theme="dark"] .ant-breadcrumb-separator,
[data-theme="dark"] label,
[data-theme="dark"] span,
[data-theme="dark"] p {
    color: var(--text-color) !important;
}


[data-theme="dark"] .ant-menu-light .ant-menu-submenu-title {
    color: var(--text-color) !important;
}

[data-theme="dark"] .ant-table {
    background: var(--background);
}

[data-theme="dark"] .ant-table-thead>tr>th {
    background: var(--background);
    color: var(--text-color);
}

[data-theme="dark"] .ant-table-tbody>tr>td {
    background: var(--background);
    color: var(--text-color);
}

[data-theme="dark"] .ant-table-thead>tr>th,
[data-theme="dark"] .ant-table-tbody>tr>td {
    border-color: #334155;
}

[data-theme="dark"] .ant-table-thead>tr>th,
[data-theme="dark"] .ant-table-tbody>tr>td {
    border-color: #334155;
    /* contoh border untuk dark mode */
}

[data-theme="dark"] .ant-input {
    background-color: var(--background);
    color: var(--text-color);
}

/* Warna teks badge di dark mode */
[data-theme="dark"] .status-badge .ant-badge-status-text {
    color: var(--text-color) !important;
}

[data-theme="dark"] .status-badge .ant-badge-status-dot {
    background-color: #888 !important;
}

[data-theme="dark"] .ant-btn,
[data-theme="dark"] .ant-btn span {
    color: var(--text-color) !important;
}

[data-theme="dark"] .ant-btn:hover,
[data-theme="dark"] .ant-btn:focus,
[data-theme="dark"] .ant-btn:active {
    color: var(--text-color) !important;
    border-color: var(--primary-color) !important;
}

[data-theme="dark"] .ant-btn-primary {
    background-color: var(--primary-color) !important;
    border-color: var(--primary-color) !important;
}

[data-theme="dark"] .ant-btn-primary:hover,
[data-theme="dark"] .ant-btn-primary:focus,
[data-theme="dark"] .ant-btn-primary:active {
    background-color: var(--primary-color) !important;
    border-color: var(--primary-color) !important;
}

[data-theme="dark"] .ant-btn-text:hover,
[data-theme="dark"] .ant-btn-link:hover {
    color: var(--primary-color) !important;
}

[data-theme="dark"] .ant-tabs-tab,
[data-theme="dark"] .ant-tabs-tab:hover,
[data-theme="dark"] .ant-tabs-tab-active,
[data-theme="dark"] .ant-tabs-ink-bar {
    color: var(--text-color) !important;
}

[data-theme="dark"] .ant-tabs-card .ant-tabs-tab,
[data-theme="dark"] .ant-tabs-card .ant-tabs-tab-active {
    background: transparent !important;
    color: var(--text-color) !important;
}

[data-theme="dark"] .ant-tabs-content-holder {
    color: var(--text-color) !important;
}

[data-theme="dark"] input::placeholder,
[data-theme="dark"] textarea::placeholder,
[data-theme="dark"] select:invalid {
    color: var(--placeholder-color);
    opacity: 1;
}

[data-theme="dark"] {
    --btn-hover-bg: #1F2937;
    /* Tailwind gray-800 */
}

[data-theme="dark"] .ant-table-column-sort {
    background: #1f2937 !important;
    /* Tailwind gray-800 */
}

[data-theme="light"] .ant-table-column-sort {
    background: #f5f5f5;
    /* default, kalau mau bisa dibiarkan */
}

/* Umum: styling selected item di Menu light */
.ant-menu-light .ant-menu-item-selected {
    background-color: #e6f7ff;
    /* default Ant warna biru muda */
    color: #1677ff;
    /* primary color */
}

/* Dark mode: selected item di sidebar */
[data-theme="dark"] .ant-menu-light .ant-menu-item-selected {
    background-color: rgba(255, 255, 255, 0.12);
    /* semi-transparan putih */
    color: #ffffff;
    /* text jadi putih */
}



body {
    background-color: var(--background);
    color: var(--text-color);
}

h1 {
    color: var(--text-color);
}


body,
.ant-menu,
.ant-table,
.ant-breadcrumb,
.ant-page-header-heading-title,
.ant-typography,
.ant-layout,
.ant-layout-content,
.ant-layout-header,
.ant-layout-footer,
.ant-btn,
.ant-input,
.ant-dropdown-menu,
.ant-menu,
.ant-typography,
.ant-breadcrumb,
.ant-select,
.ant-select-selector,
.ant-select-selection-item,
.ant-select-selection-placeholder,
.ant-select-dropdown,
.ant-select-item-option-content,
.ant-upload,
.ant-upload-text,
.ant-upload-hint,
.ant-upload-drag,
.ant-upload-drag-icon,
.ant-upload-drag-text,
.ant-upload-drag-hint,
.ant-checkbox-wrapper,
.ant-radio-wrapper,
label,
span,
p,
div {
    font-family: 'Inter', sans-serif !important;
}

/* Styling untuk bullet di child item */
.ant-menu .menu-item-bullet::before {
    content: '•';
    /* titik bullet */
    display: inline-block;
    margin-right: 8px;
    color: #999;
    /* warna bullet */
}

.ant-layout-content {
    overflow: initial
}

.logo-header {
    position: sticky;
    top: 0;
    z-index: 40;
    background: var(--background);
    padding: 1rem;
}

@theme inline {
    --color-background: var(--background);
    --color-foreground: var(--foreground);
    --font-sans: var(--font-geist-sans);
    --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
    :root {
        --background: #0a0a0a;
        --foreground: #ededed;
    }

    /* globals.css */
}

.ant-select-show-search .ant-select-selector input {
    box-shadow: none !important;
    outline: none !important;
    border: none !important;
}

/* Buat wrapper node content flex */
:where(.ant-tree-node-content-wrapper) {
    display: inline-flex !important;
    /* biar inline tapi flex */
    align-items: center;
    /* vertikal align */
    width: 100%;
    /* ambil full */
}

/* Buat title flex child expand penuh */
:where(.ant-tree-title) {
    width: 100% !important;
    /* biar justify-between jalan */
}

.ant-menu .bullet {
    color: #999 !important;
}

.ant-menu-item-selected .bullet {
    color: #1677ff !important;
}

.ant-layout {
    background: var(--background) !important;
}

:where(.ant-menu-light.ant-menu-inline) .ant-menu-sub.ant-menu-inline {
    background: var(--background) !important;
}

:where(.ant-menu-light > .ant-menu.ant-menu-inline) .ant-menu-sub.ant-menu-inline {
    background: var(--background) !important;
}

.ant-input-search-button {
    background-color: var(--default-color) !important;
    border-color: var(--default-color) !important;
    color: #fff !important;
}

.ant-input-search-button:hover {
    opacity: 0.9;
}

.ant-switch-checked {
    background-color: var(--default-color) !important;
    border-color: var(--default-color) !important;
}

.ant-segmented-item {
    /* Teks default */
    /* Full rounded */
    transition: all 0.2s;
}

.ant-segmented-item-selected {
    background-color: #1d3557 !important;
    color: #fff !important;
}

/* Bisa juga pakai Tailwind @layer jika perlu */
.custom-segmented-border {
    border: 1px solid #000 !important;
}

.custom-segmented-border .ant-segmented {
    border-color: #000 !important;
}

/* Untuk item aktif di pagination */
.ant-pagination-item-active {
    background-color: var(--default-color) !important;
    border-color: #000 !important;
    color: #fff !important;
}

/* Untuk item hover (opsional) */
.ant-pagination-item:hover {
    border-color: var(--default-color) !important;
    color: var(--default-color) !important;
}

/* Untuk prev/next */
.ant-pagination-prev .ant-pagination-item-link,
.ant-pagination-next .ant-pagination-item-link {
    color: var(--default-color) !important;
    border-color: var(--default-color) !important;
}

.ant-pagination-prev:hover .ant-pagination-item-link,
.ant-pagination-next:hover .ant-pagination-item-link {
    color: #fff !important;
    background-color: var(--default-color) !important;
    border-color: var(--default-color) !important;
}

/* Angka di item aktif */
.ant-pagination-item-active a {
    color: #fff !important;
    /* putih biar kontras dengan background */
}

/* Angka di item biasa saat hover */
.ant-pagination-item a:hover {
    color: var(--default-color) !important;
}

/* Angka di item biasa */
.ant-pagination-item a {
    color: inherit !important;
    /* biar ngikut warna biasa atau bisa ganti jadi var(--default-color) */
}


/* Tambahkan ini agar scrollbar hilang */
.scrollbar-none::-webkit-scrollbar {
    display: none;
}

.scrollbar-none {
    -ms-overflow-style: none;
    /* IE and Edge */
    scrollbar-width: none;
    /* Firefox */
}

/* styles/globals.css atau file CSS global kamu */