@import "tailwindcss";

:root {
    --background: #ffffff;
    --foreground: #171717;
}

@theme inline {
    --color-background: var(--background);
    --color-foreground: var(--foreground);
    --font-sans: var(--font-geist-sans);
    --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
    :root {
        --background: #0a0a0a;
        --foreground: #ededed;
    }

    /* globals.css */
}

.ant-select-show-search .ant-select-selector input {
    box-shadow: none !important;
    outline: none !important;
    border: none !important;
}

/* Buat wrapper node content flex */
:where(.ant-tree-node-content-wrapper) {
    display: inline-flex !important;
    /* biar inline tapi flex */
    align-items: center;
    /* vertikal align */
    width: 100%;
    /* ambil full */
}

/* Buat title flex child expand penuh */
:where(.ant-tree-title) {
    width: 100% !important;
    /* biar justify-between jalan */
}